.wrapper {
  --search-button-width: 52px;

  height: var(--default-layout-header-height);
  margin-top: 10px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  justify-content: center;
  display: flex;
  width: 100%;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  justify-content: space-between;
}
//Header
.actions {
  display: flex;
  align-items: center;
}
.header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  border-bottom: 1px solid rgba(22, 24, 35, 0.12);
  height: 50px;
  display: flex;
  width: 100%;
  padding: 1rem;
}
.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.header-title {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.mess-btn {
  font-size: 2.5rem;
  padding: 1.2rem;
  background-color: transparent;
  cursor: pointer;
}
.mail-btn {
  font-size: 2.5rem;
  padding: 1.2rem;
  background-color: transparent;
  cursor: pointer;
}
